<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CPUSchedulingSimulatorNoGUI/src/com/jimweller/cpuscheduler/MainFileLoader.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.jimweller.cpuscheduler.MainFileLoader"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="cases_public/case_49.jobs.txt RR 20"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CPUSchedulingSimulatorNoGUI"/>
</launchConfiguration>
